
body
{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: #ddcef1;
    direction: ltr;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
   margin: 0;
   padding: 0;
}

header
{
    background: #353637;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: 5px solid #463170;
}

header a
{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

header li
{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header h1
{
    float: left;
    margin: 0;
    color: #e2e5c3;
    font-size: 44px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

header ul li
{
    color: #463170;
    float: right;
    margin-top: 20px;
}

header .current a
{
    color: #8458e5;
    font-weight: bold;
}   
header a:hover
{
    color: #a69dc6;
    font-weight: bold;
}

.rocket-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;   /* تحكم في الحجم */
  height: auto;
  z-index: 1000; /* عشان تكون فوق العناصر الثانية */
}

#newsletter
{
    background: #463170;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
}

#newsletter h1
{
    float: left;
    margin: auto;
    font-size: 24px;
}

#newsletter input[type="email"]
{
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

#newsletter input[type="submit"]
{
     height: 40px;
background: #463170;
padding-left: 20px;
padding-right: 20px;
border: none;       
color: gray;
    cursor: pointer;
}

#newsletter input[type="submit"]:hover
{
    background: #a69dc6;
    color: #fff;
}

#boxes
{
    margin-top: px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#boxes .box
{
    float: left;
    text-align: center;
    width: 30%;
    background: #b2a8d8;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(68, 67, 67, 0.1);
}

.box img {
  max-width: 100%;
  height: auto;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

footer
{
    padding: 20px;
   color: #0b0000;
   text-align: end;
   font-size: small;
   direction: rtl;
   background-color: transparent;
}

@media (max-width: 768px) {
    header #brand,
    header nav,
    header nav li,
    #newsletter h1,
    #neasletter form,
    #boxes .box
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    #newsletter .button
    {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    #newsletter form input[type="email"]
    {
        width: 100%;
        margin-bottom: 5px;
    }
}